body {
    padding-top: 70px;
}

ul.nav.navbar-nav li a span.text-primary:hover {
    color: #286090;
}

.text-indent {
    text-indent: 20px;
}

.no-margin {
    margin: 0px;
}

.h3-hover:hover {
    font-size: 28px;
    color: #5bc0de;  /* Text-Info hexidecimal */
}