<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom-css.css" rel="stylesheet">

</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-8 offset-xs-2" style="margin-top: 5%">
                <h1 class="text-center display-1" style="color: #428bca;">Battlestar Galactica</h1>
                <h3 class="text-center">A game about genocide ... at it's finest.</h3>
                <hr style="margin: 5%">
                <h4>Pick your game style</h4>
                <form method="POST">
                    <button type="submit" name="start_game" value="default" class="btn btn-primary btn-block text-center">The True BSG Universe.</button>
                    <button type="submit" name="start_game" value="random" class="btn btn-default btn-block text-center">Completely random.</button>

                    <hr style="margin: 5%;">
                    <h3>Settings</h3>

                    <div class="form-group">
                        <label for="seed">Seed</label>
                        <input type="text" name="seed" class="form-control" id="seed" placeholder="leave blank for random">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Jquery Validate Library -->
    <script src="/static/js/dragscroll/dragscroll.js"></script>

</body>
</html>