<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom-css.css" rel="stylesheet">

</head>
<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6 offset-lg-3" style="margin-top: 5%;">

                <h1 class="text-center display-1" style="color: #428bca;">Battlestar Galactica</h1>
                <h3 class="text-center">A game about genocide ... at it's finest.</h3>
                <hr style="margin: 5%">

                <div id="base">
                    <button id="btn_load_old" class="btn btn-primary btn-block btn-base">Load a save</button>
                    <button id="btn_create_new" class="btn btn-secondary btn-block btn-base">Create a new game</button>
                </div>

            </div>
        </div>

        <div class="row" id="load_old" style="display: none;">
            <div class="col-lg-6 offset-lg-3">
                <form method="POST" id="save_game_form">

                    <div id="alert" class="alert alert-danger" role="alert" style="display: none;">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>

                    <div class="form-group row">
                        <label for="save_name" class="col-xs-2 col-form-label">Save name</label>
                        <div class="col-xs-10">
                            <input type="text" name="save_name_text_bar" class="form-control" id="save_name_text_bar" placeholder="Save name" disabled>
                        </div>
                    </div>

                    {% for save in saves %}
                        <div class="card card-block card-save" id="{{ save.save_name }}">
                            <h3 class="card-title">{{ save.save_name }}</h3>
                            <p class="card-text" style="margin: 0;">Created: {{ save.create_time }}</p>
                            <p class="card-text modified_time">Last Modified: {{ save.modified_time }}</p>
                        </div>
                    {% endfor %}

                    <hr style="margin: 5%;">

                    <button id="load_game" type="submit" class="btn btn-primary btn-block text-lg-center">Load Game</button>

                </form>
            </div>
        </div>

        <div class="row" id="create_new" style="display: none;">
            <div class="col-lg-6 offset-lg-3">
                <form method="POST">

                    <button type="submit" name="start_new_game" value="default" class="btn btn-primary btn-block text-center">The true BSG universe.</button>
                    <button type="submit" name="start_new_game" value="random" class="btn btn-secondary btn-block text-center">Completely random.</button>

                    <hr style="margin: 5%;">

                    <h3>Settings</h3>
                    <div class="form-group row">
                        <label for="seed" class="col-xs-1 col-form-label">Seed</label>
                        <div class="col-xs-11">
                            <input type="text" name="seed" class="form-control" id="seed" placeholder="Leave blank for random">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>


    <!-- jQuery and Tether(necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <script src="/static/js/tether/js/tether.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Jquery Validate Library -->
    <script src="/static/js/dragscroll/dragscroll.js"></script>

    <!-- Custom Javascript -->
    <script src="/static/js/bsg_main.js"></script>

    <script>
        $(document).ready(function(){
            $(document).on('click', '.btn-base', function(e){
                $('#base').slideUp();
                console.log($(this).attr('id'));
                if ($(this).attr('id') === 'btn_load_old') {
                    setTimeout( function() {
                        $('#load_old').slideDown();
                    }, 500);
                }
                else {
                    setTimeout( function() {
                        $('#create_new').slideDown();
                    }, 500);
                }
            });

            $(document).on('click', '.card.card-block.card-save', function(e) {
                $('#save_name_text_bar').val($(this).attr('id'));
                $('.card.card-block.card-save').removeClass('card-outline-primary');
                $(this).addClass('card-outline-primary');
            });

            $(document).on('click', '#load_game', function () {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/load_game',
                    data: JSON.stringify({
                        'save_name': $('#save_name_text_bar').val()
                    }),
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function(server_data){
                        if (server_data['valid'] === true ) {
                            location.reload();
                        }
                        else {
                            $('#alert').slideDown();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error: Unable to load page: ' + thrownError);
                    }
                })
            });

        });
    </script>

</body>
</html>