<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Battlestar Galactica</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom-css.css" rel="stylesheet">

</head>
<body>

    <div id="save_menu" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="save_menu" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save Menu</h4>
                </div>

                <div class="modal-body">
                    <!-- Saves go here. -->
                    <input type="text" name="save_name_text_bar" class="form-control" id="save_name_text_bar" placeholder="Save name" style="margin-bottom: 16px;">
                    {% for save in saves %}
                        <div class="card card-block card-save" id="{{ save.save_name }}">
                            <h3 class="card-title">{{ save.save_name }}</h3>
                            <p class="card-text" style="margin: 0;">Created: {{ save.create_time }}</p>
                            <p class="card-text modified_time">Last Modified: {{ save.modified_time }}</p>
                        </div>
                    {% endfor %}
                    <button id="saves_menu_button" class="btn btn-primary">s</button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-lg-center" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-fixed-top navbar-dark" style="background-color: #202020">
        <!-- Nav links -->
        <ul class="nav navbar-nav">
            <li id="sidebar_link" class="nav-item"><a class="nav-link">Sidebar</a></li>
            <li id="index_link" class="nav-item"><a href="#index-container" class="nav-link" data-toggle="collapse" aria-expanded="true" aria-controls="index-container">Index</a></li>
            <li id="map_link" class="nav-item"><a href="#map-container" class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="map-container">Navigation</a></li>
            <li id="fleet_link" class="nav-item"><a href="#fleet-container" class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="fleet_container">Fleet</a></li>
            <div class="float-xs-right">
                <li class="nav-item"><p id="warp-coords" class="navbar-text text-muted" style="margin-bottom: 0px;">Warp Coords: 0, 0</p></li>
                <li class="nav-item"><a id="warp-button" class="btn btn-outline-secondary text-muted navbar-btn disabled" role="button" aria-disabled="true">Warp</a></li>
                <li class="nav-item"><p id="date-time" class="navbar-text text-white" style="margin-bottom: 0;"></p></li>
                <li class="nav-item"><a id="pause-button" class="btn btn-primary text-white navbar-btn">Play</a></li>
            </div>
        </ul>
    </nav>

    <!-- Hidden Images -->
    <div hidden="hidden">
        <img src="/static/images/2016_tile.png" alt="star_tile" id="star_tile">
    </div>

    <div id="content-wrapper">
        <div id="sidebar">
            <div class="sidebar-content">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand" style="margin-top: 27px;">Topper Text</li>
                    <li><a href="#">Dank Link</a></li>
                    <li><a href="#">Second Dank Link</a></li>
                </ul>
                <div class="sidebar-bottom" style="bottom: 0;">
                    <ul class="sidebar-nav" style="position: relative; margin-bottom: 52px;">
                        <li class="sidebar-brand">Menu:</li>
                        <li><a id="save_game" class="save_menu_link" data-toggle="modal" data-target="#save_menu">Save Game</a></li>
                        <li><a id="load_game" class="save_menu_link" data-toggle="modal" data-target="#save_menu">Load Game</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Fluid container for body -->
        <div id="page-content-wrapper" class="container-fluid">

            <!-- Index page -->
            <div id="index-container" aria-expanded="true" class="collapse in">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-1" style="display: inline-block;">Index</h1>
                        <hr>
                        <h2>Some Heading</h2>
                        <p>Lorem Ipsum Dolor some other text lmao</p>
                    </div>
                </div>
            </div>

            <!-- Map page -->
            <div id="map-container" class="collapse" aria-expanded="false">
                <div id="map-header" class="col-md-12">
                    <h1 class="display-1">Navigation</h1>
                    <hr>
                </div>

                <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#galaxy-map-container" role="tab">Galaxy Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#system-map" role="tab">System Map</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="galaxy-map-container">
                        <div class="row">

                            <div id="map-galaxy-canvas" class="col-md-8">
                                <i id="re-center" class="fa fa-circle-thin text-white" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="re-center" style="position: absolute; bottom: 55px; left: 40px; z-index: 100;"></i>
                                <div id="galaxy-map" class="dragscroll" style="overflow: scroll; position: relative; margin-bottom: 15px;">
                                    <canvas id="star-canvas" width="2016" height="2016"></canvas>

                                    <!-- Location = (32 * x) + 32 | x = [0, 60] for perfect 16 pixel gaps between 16 pixel sprites. Midpoint is 992, 992 -->
                                </div>
                            </div>

                            <div id="map-galaxy-side-bar" class="col-md-4">

                                <h1>System Info</h1>
                                <h4>
                                    <small>System Name:</small>
                                    <span id="system-name"></span></h4>
                                <h4>
                                    <small>Global Coordinates:</small>
                                    <span id="system-global-position"></span></h4>
                                <h4>
                                    <small>Local Coordinates:</small>
                                    <span id="system-local-position"></span></h4>
                                <h4>
                                    <small>Star Type:</small>
                                    <span id="system-star-type"></span></h4>
                                <h4>
                                    <small>Warp Chance:</small>
                                    <span id="system-warp-chance"></span></h4>

                                <hr class="margin-right-15">

                                <button id='btn-destination' class="btn btn-default btn-block">Set Destination</button>

                            </div>

                        </div>

                        <div id="map-system-table" class="col-md-12">
                            <div id="planets-list-card" class="card">
                                <!-- Javascript will fill when solar systems are clicked. -->
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="system-map">
                        <p>Banker</p>
                    </div>
                </div>

            </div>

            <!-- Fleet Page -->
            <div id="fleet-container" class="collapse" aria-expanded="false">
                <div class="col-md-12">
                    <h1 class="display-1" style="display: inline-block;">Fleet Management</h1>
                    <hr>
                </div>

                <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                    {% for fleet in player_world['fleet_handler']['fleets'] %}
                        {% set current_fleet = player_world['fleet_handler']['fleets'][fleet] %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#{{ current_fleet['id'] }}" role="tab">{{ current_fleet['id'] }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content">
                    {% for fleet in player_world['fleet_handler']['fleets'] %}
                        {% set current_fleet = ['fleet_handler']['fleets'][fleet] %}
                        <div class="tab-pane fade" id="{{ current_fleet['id'] }}">
                            <div class="col-md-12">
                                <div id="planets-list-card" class="card">
                                    {% for ship in current_fleet['ships'] %}
                                        {% set current_ship = current_fleet['ships'][ship] %}
                                        <div class="list-group list-group-flush">
                                            <div class="card-header background-white">
                                                <a class="collapsed" data-toggle="collapse" href="#ship_{{ current_ship['id'] }}">{{ current_ship['name'] }}</a>
                                            </div>
                                            <div id="ship_{{ current_ship['id'] }}" class="collapse">
                                                <div class="card-block" style="border-bottom: 1px solid rgba(0,0,0,.125);">

                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>


    <!-- Bootstrap Dependencies -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- Tether -->
    <script src="/static/js/tether/js/tether.min.js"></script>

    <!-- Bootstrap -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Personally chosen plugins -->
    <!-- Drag Scroll Library -->
    <script src="/static/js/dragscroll/dragscroll.js"></script>

    <!-- Main JavaScript file -->
    <script src="/static/js/world.js"></script>

    <!-- Javascript for handling $.on() events -->
    <script src="/static/js/handlers.js"></script>

    <script>

        $(document).ready(function(){
            var galaxy_map = $('#galaxy-map');

            world.init({{ player_world|safe }});
            handlers.init(world);

            /* Generates the webpages canvas, the viewport for the canvas, and the height */
            var baseimg = new Image();
            baseimg.src = '/static/images/2016_tile.png';

            baseimg.onload = function () {
                handlers.create_canvas();
            };

            // The toggle to fire tooltips.
            $('[data-toggle="tooltip"]').tooltip();

            $(window).on('resize', function () {
                handlers.resize_window();
            });

            $(document).on('click', '.nav-item', function() {
                handlers.nav_click(this);
            });

            $(document).on("click", '.solar-system', function() {
                handlers.star_click(this, world);
            });

            $(document).on('click', '#btn-destination', function() {
                handlers.set_destination_click(world);
            });

            $(document).on('click', '.save_menu_link', function () {
                handlers.saves_menu_link_click(this)
            });

            $(document).on('click', '.card.card-block.card-save', function() {
                handlers.saves_card_click(this)
            });

            $(document).on('click', '#saves_menu_button', function (e) {
                handlers.saves_button_click(e, this)
            });

            $(document).on('click', '#sidebar_link', function(e) {
                handlers.toggle_sidebar_click(e)
            });

            $(document).on('click', '#re-center', function () {
               handlers.re_center_map_content()
            });

            $(document).on('click', '#pause-button', function () {
               handlers.pause_button(this, world);
            });

        });
    </script>
</body>
</html>