<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battlestar Galactica</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom-css.css" rel="stylesheet">

</head>
<body>

    <div id="main_menu" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="main_menuLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"><h4 class="modal-title">Main Menu</h4></div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">

                                <div id="main_menu_body">
                                    <button id="save_game" class="btn btn-block btn-secondary saves_game_menu">Save Game</button>
                                    <button id="load_game" class="btn btn-block btn-secondary saves_game_menu">Load Game</button>
                                </div>

                                <div id="main_menu_saves_menu" style="display: none;">
                                    <!-- Saves go here. -->
                                    <input type="text" name="save_name_text_bar" class="form-control" id="save_name_text_bar" placeholder="Save name" style="margin-bottom: 16px;">
                                    {% for save in saves %}
                                        <div class="card card-block card-save" id="{{ save.save_name }}">
                                            <h3 class="card-title">{{ save.save_name }}</h3>
                                            <p class="card-text" style="margin: 0;">Created: {{ save.create_time }}</p>
                                            <p class="card-text modified_time">Last Modified: {{ save.modified_time }}</p>
                                        </div>
                                    {% endfor %}
                                    <button id="saves_menu_button" class="btn btn-primary">s</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-lg-center" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-fixed-top navbar-dark" style="background-color: #202020">
        <!-- Nav links -->
        <ul class="nav navbar-nav">
            <li id="main_menu_modal_link" class="nav-item"> <a class="nav-link text-primary" data-toggle="modal" data-target="#main_menu">Menu</a> </li>
            <li id="index_link" class="nav-item"> <a href="#index-container" class="nav-link" data-toggle="collapse" aria-expanded="true" aria-controls="map-container">Index</a> </li>
            <li id="map_link" class="nav-item"> <a href="#map-container" class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="map-container">Map</a> </li>
            <span class="float-xs-right">
                <li class="nav-item"> <p id="warp-coords" class="navbar-text text-muted" style="margin-bottom: 0px;">Warp Coords: 0, 0</p> </li>
                <li class="nav-item"> <a id="warp" class="btn btn-outline-secondary text-muted navbar-btn next-turn disabled" role="button" aria-disabled="true">Warp</a> </li>
                <li class="nav-item"> <a id="next-turn" class="btn btn-primary navbar-btn next-turn text-white" role="button">Next Turn</a> </li>
            </span>

        </ul>
    </nav>

    <!-- Hidden Images -->
    <div hidden="hidden">
        <img src="/static/images/2016_tile.png" alt="star_tile" id="star_tile">
    </div>

    <!-- Fluid container for body -->
    <div class="container-fluid">

        <!-- Index page -->
        <div id="index-container" aria-expanded="true" class="collapse in">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-1">Index</h1>
                    <hr>
                    <h2>Some Heading</h2>
                    <p>Lorem Ipsum Dolor some other text lmao</p>
                </div>
            </div>
        </div>

        <!-- Map page -->
        <div id="map-container" class="collapse" aria-expanded="false">
            <div class="row">

                <div id="map-header" class="col-md-12">
                    <h1 class="display-1">Map Page</h1>
                    <hr>
                </div>

                <div id="map-galaxy-canvas" class="col-md-8">
                    <div id="star-map" class="dragscroll" style="overflow: scroll; position: relative; margin-bottom: 15px;">
                        <canvas id="star-canvas" width="2016" height="2016"></canvas>
                        <!-- Location = (32 * x) + 32 | x = [0, 60] for perfect 16 pixel gaps between 16 pixel sprites. Midpoint is 992, 992 -->
                    </div>
                </div>

                <div id="map-galaxy-side-bar" class="col-md-4" style="bottom: 100px; margin-top: 100px;">

                    <h1>System Info</h1>
                    <h4><small>System Name: </small><span id="system-name"></span></h4>
                    <h4><small>Global Coordinates: </small><span id="system-global-position"></span></h4>
                    <h4><small>Local Coordinates: </small><span id="system-local-position"></span></h4>
                    <h4><small>Star Type: </small><span id="system-star-type"></span></h4>
                    <h4><small>Warp Chance: </small><span id="system-warp-chance"></span></h4>

                    <hr class="margin-right-15">

                    <h2>Celestial Bodies</h2>
                    <h3>Planets:</h3>

                    <button id='btn-destination' class="btn btn-default btn-block">Set Destination</button>

                </div>

                <div id="map-system-view" class="col-md-8">

                </div>

                <div id="map-system-side-bar" class="col-md-4">

                </div>
            </div>
        </div>

        <!-- Fleet Page -->
        <div id="fleet-container" class="collapse" aria-expanded="false">
            <div class="row">
                <div>

                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap Dependencies -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- Tether -->
    <script src="/static/js/tether/js/tether.min.js"></script>

    <!-- Bootstrap -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Personally chosen plugins -->
    <!-- Drag Scroll Library -->
    <script src="/static/js/dragscroll/dragscroll.js"></script>

    <!-- Main JavaScript file -->
    <script src="/static/js/bsg_main.js"></script>

    <script>

        $(document).ready(function(){
            var player_world = {{ player_world|safe }};
            var system;
            var star_map = $('#star-map');

            world.init(player_world);

            /* Generates the webpages canvas, the viewport for the canvas, and the height */
            var baseimg = new Image();
            baseimg.src = '/static/images/2016_tile.png';

            baseimg.onload = function () {
                world.generate_canvas_and_stars('star-canvas', 'star_tile', star_map);
            };

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });

            $(window).on('resize', function () {
                world.starmap_height(star_map)
            });

            $(document).on('click', '.nav-item', function(e) {
                world.nav_div_links(e, this, star_map)
            });

            $(document).on("click", '.solar-system', function(e) {
                world.solar_system(e, this)
            });

            $(document).on('click', '#btn-destination', function(e) {
                world.set_destination(e)
            });

            $(document).on("click", '.next-turn', function(e) {
                world.next_turn(e, this)
            });

            $(document).on('click', '#main_menu_modal_link', function (e) {
                $('#main_menu_body').css({'display': ''});
                $('#main_menu_saves_menu').css({'display': 'none'});
            });

            $(document).on('click', '.saves_game_menu', function (e) {
                $('#main_menu_body').slideUp();
                setTimeout( function () {
                    $('#main_menu_saves_menu').slideDown();
                }, 500);
                if ($(this).attr('id') === 'save_game') {
                    $("#saves_menu_button").text('Save Game').attr({'btn_type': 'save_game'})
                }
                else {
                    $("#saves_menu_button").text('Load Game').attr({'btn_type': 'load_game'});
                    $("#save_name_text_bar").attr({'disabled': ''})
                }
            });

            $(document).on('click', '.card.card-block.card-save', function(e) {
                $('#save_name_text_bar').val($(this).attr('id'));
                $('.card.card-block.card-save').removeClass('card-outline-primary');
                $(this).addClass('card-outline-primary');
            });

            $(document).on('click', '#saves_menu_button', function (e) {
                if ($(this).attr('btn_type') === 'save_game' ) {
                    world.save_game_ajax(e, this, $('#save_name_text_bar').val())
                }
                else if ($(this).attr('btn_type') === 'load_game') {
                    world.load_game_ajax(e, this, $('#save_name_text_bar').val())
                }
            });
        });
    </script>
</body>
</html>