<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    {% extends "template.html" %}
</head>
<body>
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Map</h1>
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">
                {% for y in range(player_galaxy.galaxy_size) %}
                    <tr>
                    {% for x in range(player_galaxy.galaxy_size) %}
                        <td>
                            <!-- {{ x }}, {{ y }} -->
                            {% for system in player_galaxy.system_list %}
                                {% if player_galaxy.system_list[system][0] == x and player_galaxy.system_list[system][1] == y %}
                                    O
                                {% endif %}
                            {% endfor %}
                            <p style="font-size: 7px">{{ x }}, {{ y }}</p>
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}
</body>
</html>