<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "template.html" %}
</head>
<body>
    {% block body %}
        <div style="width: 500px; height: 500px; overflow: scroll;">
            <div style="width: 1000px; height: 1000px;">
                <div style="position: relative;">

                </div>
            </div>
        </div>
    {% endblock %}

    {% block script %}
        <script>

        </script>
    {% endblock %}
</body>
</html>