<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trial</title>

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- FontAwesome stylesheet -->
    <link href="/static/font-awesome-4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom stylesheet -->
    <link href="/static/css/custom-css.css" rel="stylesheet">

</head>
<body>
    <div hidden="hidden">
        <img src="/static/images/2016_tile.png" alt="star_tile" id="star_tile">
    </div>

    <div>
        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div id="modal-text"></div>
                        <div id="modal-effects" class="text-danger"></div>
                    </div>
                    <div class="modal-footer" id="options"></div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

    <div id="trial-div">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Jquery Validate Library -->
    <script src="/static/js/jquery_validate/jquery.validate.js"></script>

    <!-- Main JS file -->
    <script src="/static/js/bsg_main.js"></script>

    <script>
        $(document).ready( function() {
            var event = {{ event|tojson|safe }};
            var current_path = ['nodes', '0'];
            var event_history = [['nodes', '0']];

            $('#modal-title').text(event['title']);

            function run_event_part(){
                var options = $('#options').html('');
                if (current_path[0] === 'nodes') {
                    for (var path in event[current_path[0]][current_path[1]]['paths']) {
                        var el = $('<button></button>').attr({
                            type: 'button',
                            'class': 'btn btn-default btn-options',
                            'option-path': event[current_path[0]][current_path[1]]['paths'][path]['path'],
                            'data-dismiss': 'modal'
                        }).text(event[current_path[0]][current_path[1]]['paths'][path]['button_text']);
                        options.append(el);
                    }
                }

                $('#modal-text').html("<p>" + event[current_path[0]][current_path[1]]['body_text'] + "</p>");

                if (current_path[0] === 'outcomes') {
                    for (var effect in event[current_path[0]][current_path[1]]['effects']) {
                        el = $('<p></p>').attr({
                            'class': event[current_path[0]][current_path[1]]['effects'][effect][1]
                        }).text(event[current_path[0]][current_path[1]]['effects'][effect][0]);
                        $('#modal-effects').append(el)
                    }
                    options.append('<button type="button" class="btn btn-default btn-event-finished" data-dismiss="modal">Close</button>')
                }
            }

            run_event_part();

            $(document).on('click', '.btn-options', function() {
                current_path = $(this).attr('option-path').split(',');
                event_history.push(current_path);
                $('#myModal').modal('hide');
                setTimeout(function(){
                    run_event_part();
                    $('#myModal').modal('show')
                }, 500);
            });

            $(document).on('click', '.btn-event-finished', function() {
                $.ajax({
                    type: 'POST',
                    url: '/event_finished',
                    data: JSON.stringify({
                        'event': event,
                        'outcome': current_path,
                        'event_history': event_history
                    }),
                    dataType: 'json',
                    contentType: 'application/json',
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error: Unable to load page: ' + thrownError);
                    }
                });
            });
        });
    </script>
</body>
</html>